@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

:root {
  --primaryColor: #1fa67a;
  --navLetters: #999;
  --viewerPColor: #3b3b3bcc;
  --footerColor : #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  width: 100%;
  height: 8vh;

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh;
}
nav h2 {
  font-size: 1.7rem;
  font-family: "ZCOOL KuaiLe", cursive;

  color: var(--primaryColor);
}
nav ul {
  width: 40%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
nav ul li {
  width: 100%;
  height: 100%;
  padding: 0 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
nav ul li:hover > h3,
nav ul li:hover {
  background-color: var(--primaryColor);
  color: #fff;
}
nav ul li:nth-child(1),
nav ul li:nth-child(1) h3 {
  background-color: var(--primaryColor);
  color: #fff;
}
nav ul li h3 {
  font-size: 1rem;

  color: var(--navLetters);
}

/*  */

main {
  width: 100%;
  height: fit-content;
}

/*  */

.viewer {
  width: 100%;
  height: 58vh;
}
.viewer-content {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}
.viewer-info {
  width: 100%;
  height: 80%;
  padding-left: 5rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(Img/forest.jpg);
  background-size: cover;
}
.viewer-info h2 {
  width: fit-content;
  height: fit-content;
  padding: 0.2rem 1rem;

  background-color: var(--primaryColor);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 0.9;
}
.viewer-info p {
  width: 45%;
  height: fit-content;
  padding: 0.5rem;

  background-color: var(--viewerPColor);
  color: #fff;
  font-size: 1rem;
  opacity: 0.9;
}
.viewer-downloadArea {
  width: 100%;
  height: 20%;

  background-color: var(--primaryColor);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.viewer-downloadArea h2 {
  width: 40%;
  
  font-size: 1.8rem;
  opacity: 0.9;
  color: #fff;
}
.viewer-downloadButton {
  width: 12%;
  height: 2rem;
  padding: 10px;
  box-sizing: content-box;
  
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.viewer-downloadButton button {
  width: 100%;
  height: 100%;
  
  color: #fff;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}
.viewer-downloadButton:hover, .viewer-downloadButton:hover > button{
  background-color: #fff;
  color: var(--primaryColor);
  
}

/*  */

.main-article{
  width: 100%;
  height: fit-content;
  padding: 0 5rem;

  display: flex;
}
article{
  width: 70%;
  height: fit-content;
  margin-top: 2rem;
}
.article-content{
  width: 100%;
  height: fit-content;
  margin-bottom: 3rem;
}
.article-title{
  width: 40%;
  height: 6rem;

  color: #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article-title h1{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .5rem; 
}
.article-title p{
  font-size: .9rem;
}
.article-title p i{
  margin: 0 .5rem;

  color: var(--primaryColor);
}
hr{
  width: 100%;
  margin: auto;
  opacity: .1;

  border: #444 1px solid;
}
.article-preview{
  width: 100%;
  height: 30vh;
  margin-top: 1rem;

  display: flex;
}
.article-image{
  width: 50%;
  height: 90%;

  border: 5px solid #9c9c9c46;
  border-radius: 5px;
}
.article-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-info{
  width: 50%;
  height: fit-content;
  padding: 0 1rem;
  position: relative;
}
.article-info p{
  color: #444444cc;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}
.article-info button{
  width: 40%;
  height: 3vh;
  padding: 2px;
  margin-top: 2rem;
  box-sizing: content-box;
  position: absolute;
  right: 1rem;

  cursor: pointer;
  font-size: 1rem;
  color: var(--primaryColor);
  border: .5px solid #44444413;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.article-info button:hover{
  background-color: var(--primaryColor);
  color: #fff;
  transition: .2s;
}
.olderButton{
  width: 100%;
  height: 4vh;

  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--footerColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.olderButton:hover{
  background-color: var(--primaryColor);
}

/*  */

aside{
  width: 30%;
  height: fit-content;
}